<div class="sidebar">
    <div class="profile">
        <img src="{{ site.baseurl }}/assets/images/reze.jpg" alt="Profile Picture">
        <h2>{{ site.author }}</h2>
        <p>{{ site.description }}</p>
    </div>
    
    <nav>
        <a href="/" class="nav-item">🏠 Home</a>
        <a href="/categories" class="nav-item">📂 Categories</a>
        <a href="/tags" class="nav-item">🏷️ Tags</a>
        <a href="/about" class="nav-item">ℹ️ About</a>
    </nav>

    <footer>
        <a href="https://github.com/dwgth4i" target="_blank">GitHub</a>
        <a href="https://x.com/dwgth4i" target="_blank">X</a>
    </footer>
</div>
